#!/usr/bin/make -f
export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic

DEBCFLAGS  = -g -O2 -Wall  -DHAVE_STRSEP -D_FORTIFY_SOURCE=2
DEBLDFLAGS = -Wall -g -pie -fpie -Wl,-z,relro -Wl,-z,now

%:
	dh $@

override_dh_auto_build:
	make CFLAGS="$(DEBCFLAGS)" LDFLAGS="$(DEBLDFLAGS)"

override_dh_auto_install:
